<!DOCTYPE html><html><head><title>LearningSystem</title><meta name='charset'content='utf-8'/><meta name='viewport'content='width=device-width, initial-scale=1'/><link rel='stylesheet'href="/static/css/bootstrap.css"/><link rel="shortcut icon" href="favicon.ico"></head><body><div id='root'></div><script type="text/javascript" src="common.js"></script><script type="text/javascript" src="/vendor.js"></script><script type="text/javascript" src="/entry.js"></script></body></html>
